/* Global styles */
* {
    /* outline: 1px solid red; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

/* Header styles */
header{
  background-color: #dacafb;
  color: black;
  height: 300px;
  margin: 2%;
  margin-bottom: 25px;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

header img {
    border: 1px solid black;
    width: 270px;
}

header nav {
    display: flex;
    border: 1px solid black;
}

header nav .about {
    border-left: 1px solid black;
    border-right: 1px solid black;
 }

header nav .trips {
    border-right: 1px solid black;
}

header a {
    background-color: white;
    padding: 0.75em 0;
    width: 250px;
    font-size: 2.2em;
    text-align: center;
    text-decoration: none;
    color: black;
}

/* main styles */

/* about.html */
/* div class hero styles */
.hero {
    /* height: 550px; */
    margin: 25px 2%;
    position: relative;
    padding-bottom: 361px;
    border: 1px solid black;
}

.hero-img {
    width: 100%;
    display: block;
    position: absolute;
    z-index: -1;
}

.hero h1 {
    text-align: center;
    color: white;
    font-size: 4em;
    text-shadow:
    -2px -2px 0 black,
     2px -2px 0 black,
    -2px  2px 0 black,
     2px  2px 0 black;
    padding: 30px 0;
}

.hero article {
    background-color: black;
    margin: 0 4%;
    display: flex;
    align-items: center;
    padding: 1%;
}

.hero .happy-employee {
    width: 200px;
}

.hero p {
    color: white;
    font-size: 2em;
}

/* section class history styles */
.history {
    margin: 0 2%;
    border: 1px solid black;
}

.history h2 {
    text-align: center;
    font-size: 3.5em;
    padding-top: 1%;
    padding-bottom: 10px;
}

.history .history-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;
    margin: 0 2%;
    margin-bottom: 2%;
    align-items: center;
}

.history p {
    font-size: 2em;
    margin: 0 6%;
}

.history img {
    width: 400px;
}

/* section class adventure styles */
.adventure {
    margin: 25px 2%;
    border: 1px solid black;
    padding-bottom: 2%;
}

.adventure h2 {
    text-align: center;
    font-size: 3.5em;
    padding: 1% 0;
}

.adventure .adventure-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
}

.adventure .adventure-grid figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adventure .adventure-grid figcaption{
    width:fit-content;
    font-size: 1.5em;
    margin-top: 2%;
}

.adventure .adventure-grid img {
    width: 250px;
}

/* contact.html */
/* Company Information styles */
.company-info {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.company-info h1 {
    font-weight: normal;
}

.company-info address {
    font-style: normal;
    font-size: 1.2em;
    margin-top: 10px;
}

/* Map and Form styles */
.map-and-form {
    display: flex;
    justify-content: space-around;
}

.map {
    border: 1px solid black;
}

.form {
    display: grid;
    grid-template-columns: 0.5fr 1fr;
    align-items: center;
}

.radio-group {
    display: flex;
    flex-direction: column;
}

.message-container {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
}

.subscribe {
    grid-column: span 2;
}

.submit-button {
    grid-column: span 2;
}

/* Employees styles */
.employees {
    background-color: white;
    color: black;
    margin: 10px;
    border: 1px solid black;
    height: 250px;
    margin-top: 20px;
}

.employees h2 {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.employee-list img {
    border: 1px solid black;
    height: 150px;
}

.employee-list {
    display: flex;
    justify-content: space-around;
}

.employee-list div {
    text-align: center;
}

.employee-list p {
    font-size: 1.75em;
}

/* Footer styles */
footer {
    background-color: #dacafb;
    color: black;
    height: 150px;
    margin: 2%;
    margin-top: 25px;
    border: 1px solid black;
    display: grid;
    grid-template-columns: 2fr 3fr 2fr;
    align-items: center;
}

footer p {
    text-align: center;
    font-size: 2.2em;
}

footer nav {
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
}

footer a {
    margin: 0 10px;
}

footer img {
    width: 80px;
}