:root {
    --nav-background-color: darkblue;
    --main-img-border-color: black;
    --main-img-height: auto;
    --main-img-border-type: solid;
    --aside-text-align: center;
}

nav {
    background-color: var(--nav-background-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 840px;
}

h1 {
    color: var(--nav-background-color);
}

main img {
    width: 150px;
    height: var(--main-img-height);
    border: 1px var(--main-img-border-type) var(--main-img-border-color);
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 0;
}

aside {
    width: 20rem;
    margin: 1rem;
    border: 1px var(--main-img-border-type) rgb(0 0 0 / 0.2);
    padding: 1rem;
    background-color: #eee;
    color: #333;
    text-align: var(--aside-text-align);
}

aside img {
    width: 200px;
    height: var(--main-img-height);
}

footer {
    margin-top: 15px;
    border-top: 1px var(--main-img-border-type) var(--main-img-border-color);
    text-align: var(--aside-text-align);
}